TI1.1 SOAP_JAVA_CONUNI_GR03/02 CLICON/CLICON_ConUni_SOAPJAVA_GR03/src/wsdl/localhost_8080/WS_ConUni_SOAPJAVA_GR03/WSConUni.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.3.payara-p1 (metro-4.0.3.payara-maintenance-004e4e3; 2023-11-08T12:59:53+0000) XMLWS-Impl/4.0.2 XMLWS-API/4.0.1 XMLB-Impl/4.0.4 XMLB-API/4.0.1 git-revision#004e4e3. --><xs:schema xmlns:tns="http://ws.arguello.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.arguello.edu.ec/">

<xs:element name="convertUnit" type="tns:convertUnit"/>

<xs:element name="convertUnitResponse" type="tns:convertUnitResponse"/>

<xs:complexType name="convertUnit">
<xs:sequence>
<xs:element name="value" type="xs:double"/>
<xs:element name="inUnit" type="xs:string" minOccurs="0"/>
<xs:element name="outUnit" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertUnitResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>