TI1.2 SOAP_DOTNET_CONUNI_GR03/02 CLIESC/CLIESC_ConUni_SOAPDOTNET_GR03/CLIESC_ConUni_SOAPDOTNET_GR03/Web References/ConversionServiceRef/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5001/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.Models" />
  <xs:element name="Convert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService.Models" minOccurs="0" name="request" nillable="true" type="q1:ConversionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService.Models" minOccurs="0" name="ConvertResult" nillable="true" type="q2:ConversionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>