TI1.2 SOAP_DOTNET_CONUNI_GR03/02 CLIESC/CLIESC_ConUni_SOAPDOTNET_GR03/CLIESC_ConUni_SOAPDOTNET_GR03/Web References/ConversionServiceRef/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Models" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:5001/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ConversionRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude2" type="xs:double" />
      <xs:element minOccurs="0" name="MassKg" type="xs:double" />
      <xs:element minOccurs="0" name="TemperatureCelsius" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConversionRequest" nillable="true" type="tns:ConversionRequest" />
  <xs:complexType name="ConversionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="LatitudeDMS" nillable="true" type="tns:CoordinateDMS" />
      <xs:element minOccurs="0" name="LatitudeDecimal" type="xs:double" />
      <xs:element minOccurs="0" name="LatitudeRadians" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude2DMS" nillable="true" type="tns:CoordinateDMS" />
      <xs:element minOccurs="0" name="Longitude2Decimal" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude2Radians" type="xs:double" />
      <xs:element minOccurs="0" name="LongitudeDMS" nillable="true" type="tns:CoordinateDMS" />
      <xs:element minOccurs="0" name="LongitudeDecimal" type="xs:double" />
      <xs:element minOccurs="0" name="LongitudeRadians" type="xs:double" />
      <xs:element minOccurs="0" name="MassG" type="xs:double" />
      <xs:element minOccurs="0" name="MassKg" type="xs:double" />
      <xs:element minOccurs="0" name="MassLb" type="xs:double" />
      <xs:element minOccurs="0" name="TemperatureCelsius" type="xs:double" />
      <xs:element minOccurs="0" name="TemperatureFahrenheit" type="xs:double" />
      <xs:element minOccurs="0" name="TemperatureKelvin" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConversionResponse" nillable="true" type="tns:ConversionResponse" />
  <xs:complexType name="CoordinateDMS">
    <xs:sequence>
      <xs:element minOccurs="0" name="Degrees" type="xs:int" />
      <xs:element minOccurs="0" name="Hemisphere" type="ser:char" />
      <xs:element minOccurs="0" name="Minutes" type="xs:int" />
      <xs:element minOccurs="0" name="Seconds" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CoordinateDMS" nillable="true" type="tns:CoordinateDMS" />
</xs:schema>