TI1.6 SOAP_DOTNET_CONBDD_EUREKABANK_GR03/02. CLICON/eurekabank_consola/src/META-INF/wsdl/localhost_55325/ec.edu.monster.controlador/MovimientoController.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ec.edu.monster.modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ec.edu.monster.modelo"><xs:complexType name="ArrayOfMovimiento"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Movimiento" nillable="true" type="tns:Movimiento"/></xs:sequence></xs:complexType><xs:element name="ArrayOfMovimiento" nillable="true" type="tns:ArrayOfMovimiento"/><xs:complexType name="Movimiento"><xs:sequence><xs:element minOccurs="0" name="Accion" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Cuenta" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Fecha" type="xs:dateTime"/><xs:element minOccurs="0" name="Importe" type="xs:double"/><xs:element minOccurs="0" name="NroMov" type="xs:int"/><xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Movimiento" nillable="true" type="tns:Movimiento"/><xs:complexType name="ArrayOfCuenta"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="Cuenta" nillable="true" type="tns:Cuenta"/></xs:sequence></xs:complexType><xs:element name="ArrayOfCuenta" nillable="true" type="tns:ArrayOfCuenta"/><xs:complexType name="Cuenta"><xs:sequence><xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Moneda" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="NombreCliente" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="NumeroCuenta" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="Saldo" type="xs:double"/></xs:sequence></xs:complexType><xs:element name="Cuenta" nillable="true" type="tns:Cuenta"/></xs:schema>